node_modules/
data/
.codex-downloads/
.env
config.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
server.out.log
server.err.log
data/springwood-mazda-service.json
data/redlands-mazda.json
data/cleveland-toyota.json
data/springwood-toyota.json
drivers/
drivers/index.json
drivers/C5840/1777504255120-GPlus_PCL6_Driver_V340_W64_00-2-.zip

.drivers/
